:host {
  display: block;
}

.meme {
  &__image {
    width: 100%;
    margin-bottom: 13px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__likes {
    margin: 0;
  }
}
