<img class="meme__image" [src]="meme.url" alt="Meme for PR" />

<div class="meme__footer">
  <p class="meme__likes">{{ meme.likes }} upvotes</p>
  <ng-container *ngIf="isAdmin">
    <mat-slide-toggle
      color="primary"
      [checked]="meme.approved"
      (toggleChange)="changeApproval()"
    >
      {{ meme.approved ? 'Approved' : 'Not approved' }}
    </mat-slide-toggle>
    <button mat-raised-button color="secondary" (click)="delete.emit()">Delete 🗑</button>
  </ng-container>
  <button
    mat-raised-button
    [disabled]="isUpvoted"
    color="primary"
    (click)="like.emit()"
  >
    LIKE ❤️
  </button>
</div>
