.container {
  text-align: center;
  width: 600px;
  margin: 30px auto 0;

  .meme-container {
    display: inline-block;
    mat-card {
      margin-bottom: 2rem;

      img {
        width: 100%;
      }
    }
  }
}

.entry-form {
  display: flex;
  align-items: center;

  &__input {
    flex-grow: 1;
    margin-right: 20px;
  }

  &__spinner {
    margin: 10px auto;
  }
}
